<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="testng-webdriver" verbose="1" >
    <test name="Test - WebDriverForClass" >
        <classes>
            <class name="com.dynacrongroup.webtest.TestWebDriverTestClass" />
        </classes>
    </test>

    <test name="Test - WebDriverForMethod">
        <classes>
            <class name="com.dynacrongroup.webtest.TestWebDriverTestMethods"/>
        </classes>
    </test>
</suite>
